
{#<nav class="navbar navbar-default">#}
    {#<div class="container-fluid">#}
        {#<div class="navbar-header">#}
            {#<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-actions" aria-expanded="false">#}
                {#<span class="sr-only">Toggle navigation</span>#}
                {#<span class="icon-bar"></span>#}
                {#<span class="icon-bar"></span>#}
            {#</button>#}
            {#<a class="navbar-brand" href="">{{ brandTitle|trans }} </a>#}
        {#</div>#}
        {#{% if menuItems is defined %}#}
            {#<div class="collapse navbar-collapse" id="navbar-actions">#}
                {#<ul class="nav navbar-nav navbar-right">#}
                    {#<li class="dropdown">#}
                        {#<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">#}
                            {#{{ 'actions'|trans }} <span class="caret"></span>#}
                        {#</a>#}
                        {#<ul class="dropdown-menu">#}
                            {#{% for item in menuItems %}#}
                                {#<li>#}
                                    {#<a href="{{ item.path }}">{{ item.title|trans }}</a>#}
                                {#</li>#}
                            {#{% endfor %}#}
                            {#{% if delete_form is defined and app.request.attributes.get('_route') == 'issue_edit' %}#}
                                {#<li role="separator" class="divider"></li>#}
                                {#<li>#}
                                    {#<div class="hidden">#}
                                        {#{{ form_start(delete_form, { 'attr': {'id': 'app_issue_delete'}}) }}#}
                                        {#{{ form_end(delete_form) }}#}
                                    {#</div>#}
                                    {#<a href="#" class="trigger-submit" data-form="#app_issue_delete">#}
                                        {#{{ 'delete'|trans }}</span>#}
                                    {#</a>#}
                                {#</li>#}
                            {#{% endif  %}#}
                        {#</ul>#}
                    {#</li>#}
                {#</ul>#}
            {#</div>#}
        {#{% endif %}#}
    {#</div>#}
{#</nav>#}
