{% extends 'base.html.twig' %}

{% block action_nav %}
    <div class='page-header'>
        <div class='btn-toolbar pull-right'>
            <div class='btn-group'>
                <a class="trigger-submit btn btn-default btn-danger hidden-xs" href="{{ path('issue_delete', { 'id': issue.id }) }}"
                   data-form="#app_issue_delete" role="navigation">{{ 'delete'|trans }}</a>
                <a class="btn btn-default btn-primary" href="{{ path('issue_index') }}" role="navigation">{{ 'back_to_list'|trans }}</a>
            </div>
            <div class="hidden">
                {{ form_start(delete_form, { 'attr': {'id': 'app_issue_delete'}}) }}
                {{ form_end(delete_form) }}
            </div>
        </div>
        <h2>{{ 'issue.header.edit'|trans({ title: issue.subject }) }}</h2>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <div class="btn-group pull-right" role="group">
                <a href="{{ path('issue_index') }}" class="btn btn-danger">{{ 'cancel'|trans }}</a>
                <input class="btn btn-success" type="submit" value="{{ 'save'|trans }}" />
            </div>
            {{ form_end(edit_form) }}
        </div>
    </div>
{% endblock %}
