{% extends "::base.html.twig" %}

{% block content %}
    <div class="wrapper">
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <form class="form-signin" action="{{ path("fos_user_security_check") }}" method="POST">
            <h2 class="form-signin-heading">{{ 'security.login.header'|trans() }}</h2>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}"
                   autofocus="" required="required" placeholder="{{ 'security.login.username'|trans }}"/>
            <input type="password" id="password" class="form-control" name="_password" required="required" placeholder="{{ 'security.login.password'|trans }}"/>
            <button class="btn btn-lg btn-primary btn-block" type="submit">{{ 'security.login.submit'|trans }}</button>
        </form>
    </div>
{% endblock %}
